<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Clients Page </title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  
  <!-- Favicons -->
  <link href="/static/img/logo/dspl.jpg" rel="icon"> 
  <link href="/static/img/logo/dspl.jpg" rel="apple-touch-icon"> 

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/css/style.css" rel="stylesheet">

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <!-- <h1 class="logo me-auto me-lg-0"><a href=""></a> DSPL <span></span></a></h1>
      Uncomment below if you prefer to use an image logo -->
      <a href="" class="logo me-auto me-lg-0"><img src="/static/img/logo/dspl.jpg" alt="" class="img-fluid"> DSPL</a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto " href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/about">About Us</a></li>
          <li><a class="nav-link scrollto" href="/services">Services</a></li>
          <li><a class="nav-link scrollto " href="/technology">Technology</a></li>
          <li><a class="nav-link scrollto" href="/team">Team</a></li>
          <li><a class="nav-link scrollto active" href="/clients">Clients</a></li>
          <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      
      <a href="/clients" class="get-started-btn scrollto">Get Started</a>
    </div>
  </header><!-- End Header -->
  
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Let DSPL empower your business with the best in Tech</h1>
          <h2>Technological innovation and a steadfast commitment to excellence.</h2>
        </div>
      </div>

    </div>
  </section><!-- End Hero -->
  <main id="main">

        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts">
          <div class="container" data-aos="fade-up">
            <div class="section-title">
              <!-- <h2></h2> -->
              <p>Accomplishments</p>
            </div>
            <div class="row no-gutters">
              <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right" data-aos-delay="100"></div>
              <div class="col-xl-7 ps-4 ps-lg-5 pe-4 pe-lg-1 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="100">
                <div class="content d-flex flex-column justify-content-center">
                  <h3>Our Proud Achievements: A Journey of Excellence</h3>
                  <!-- <p>
                    
                  </p> -->
                  <div class="row">
                    <div class="col-md-6 d-md-flex align-items-md-stretch">
                      <div class="count-box">
                        <i class="bi bi-emoji-smile"></i>
                        <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="2" class="purecounter"></span>
                        <p><strong>Sectors Served </strong> With our extensive experience and adaptable expertise, we have successfully served clients in diverse sectors.</p>
                      </div>
                    </div>
    
                    <div class="col-md-6 d-md-flex align-items-md-stretch">
                      <div class="count-box">
                        <i class="bi bi-journal-richtext"></i>
                        <span data-purecounter-start="0" data-purecounter-end="50" data-purecounter-duration="2" class="purecounter"></span>
                        <p><strong>Projects </strong> We've successfully completed more than 50 projects, showcasing our dedication to delivering high-quality solutions that align with our clients' objectives.</p>
                      </div>
                    </div>
    
                    <div class="col-md-6 d-md-flex align-items-md-stretch">
                      <div class="count-box">
                        <i class="bi bi-clock"></i>
                        <span data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="4" class="purecounter"></span>
                        <p><strong>Years of experience </strong> With more than 3 years of industry expertise, we bring a wealth of knowledge and a proven track record of success to every project we undertake.</p>
                      </div>
                    </div>
    
                    <div class="col-md-6 d-md-flex align-items-md-stretch">
                      <div class="count-box">
                        <i class="bi bi-award"></i>
                        <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="4" class="purecounter"></span>
                        <p><strong>Case Studies </strong> Discover in-depth case studies that showcase how our solutions have positively impacted our clients' operations, leading to increased efficiency and success.</p>
                      </div>
                    </div>
                  </div>
                </div><!-- End .content-->
              </div>
            </div>
    
          </div>
        </section><!-- End Counts Section -->

<!-- ======= Clients Section ======= -->
<section id="clients" class="clients">
    <div class="container" data-aos="zoom-in">
      <div class="section-title">
        <!-- <h2></h2> -->
        <p>Our Clients</p>
      </div>
      <div class="clients-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><img src="/static/img/clients/health.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="/static/img/clients/finance.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="/static/img/clients/e_commerce.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="/static/img/clients/education.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="/static/img/clients/manufactor.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="/static/img/clients/energy.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="/static/img/clients/govern.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="/static/img/clients/transport.jpg" class="img-fluid" alt=""></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Clients Section -->

<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
      
    <div class="container" data-aos="fade-up">

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="/static/img/clients/health.jpg" class="testimonial-img" alt="">
              <h3>Healthcare Efficiency</h3>
              <!-- <h4>Medical professional</h4> -->
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Improved patient care and appointment scheduling with a customized EHR system.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="/static/img/clients/finance.jpg" class="testimonial-img" alt="">
              <h3>Fintech Growth</h3>
              <!-- <h4>Banks and Loans</h4> -->
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Rapid expansion and secure payments through our gateway and user-centric app.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="/static/img/clients/e_commerce.jpg" class="testimonial-img" alt="">
              <h3>E-commerce Success</h3>
              <!-- <h4>Shopping Store</h4> -->
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Doubled online sales with a user-friendly website and efficient inventory management.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
          
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="/static/img/clients/education.jpg" class="testimonial-img" alt="">
              <h3>Educational Enhancement</h3>
              <!-- <h4>Universities and Institutions</h4> -->
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Increased student engagement and retention with a custom LMS and interactive content.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="/static/img/clients/manufactor.jpg" class="testimonial-img" alt="">
              <h3>Manufacturing Streamlining</h3>
              <!-- <h4>Companies Entrepreneur</h4> -->
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Reduced downtime and enhanced efficiency through MRP systems and real-time data insights.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->
</main>

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>DSPL<span>.</span></h3>
            <p>
              Bengaluru <br>
              Karnataka, India<br><br>
              <strong>Phone:</strong> +91 1234567890<br>
              <strong>Email:</strong> datasoftwarepvtltd@gmail.com<br>
            </p>
            <div class="social-links mt-3">
              
              <a href="https://web.telegram.org/k/#@datasoftwaredspl" class="telegram"><i class="bx bxl-telegram"></i></a>
              
              <a href="https://www.google.com/search?q=data+software+pvt+ltd&sca_esv=582945116&sxsrf=AM9HkKlhD-AvyzbiSS1teLsfY20WTF2sfg%3A1700147563505&source=hp&ei=azFWZbrsG5bX1e8PjYGPwAI&iflsig=AO6bgOgAAAAAZVY_exu4s1pWdRb5FgYBikRIOt9s5bAi&oq=data&gs_lp=Egdnd3Mtd2l6IgRkYXRhKgIIATIEECMYJzIHECMYigUYJzIKEAAYigUYsQMYQzIQEC4YigUYsQMYxwEY0QMYQzITEC4YigUYsQMYgwEYxwEY0QMYQzIKEAAYigUYsQMYQzIKEAAYigUYsQMYQzIKEAAYigUYsQMYQzINEAAYigUYsQMYgwEYQzIKEAAYigUYsQMYQ0jlLlC6BFjwHHAEeACQAQCYAZ0BoAGsCKoBAzAuN7gBA8gBAPgBAagCCsICBxAjGOoCGCfCAg4QABiKBRixAxiDARiRAsICCBAAGIoFGJECwgILEC4YigUYsQMYgwHCAgsQABiABBixAxiDAcICCxAAGIoFGLEDGIMBwgINEC4YigUYxwEY0QMYQ8ICBxAAGIoFGEPCAgoQLhixAxiKBRhDwgIIEAAYgAQYsQPCAgUQABiABMICCxAuGK8BGMcBGIAEwgIHEC4YigUYQ8ICCxAuGIAEGLEDGIMB&sclient=gws-wiz" class="google"><i class="bx bxl-google"></i></a>
              <a href="https://www.linkedin.com/company/data-software-pvt-ltd-dspl/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/about">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/services">Services</a></li>
            <li><i class="bx bx-chevron-right"></i> Terms of service</li>
            <li><i class="bx bx-chevron-right"></i> Privacy policy</li>

          </ul>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> Software Development</li>
            <li><i class="bx bx-chevron-right"></i> IT Consulting</li>
            <la><i class="bx bx-chevron-right"></i> Big Data Management</li>
            <li><i class="bx bx-chevron-right"></i> IT Infrastructure Management</li>
            <li><i class="bx bx-chevron-right"></i> Quality Assurance and Testing</li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>DSPL</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by Prathmesh<a href=""></a>
    </div>
  </div>
</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/static/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/static/vendor/aos/aos.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/static/js/main.js"></script>

</body>

</html>